<footer style="background-color:#1b2017;">
    <div class="container py-4 d-flex flex-column justify-content-between align-items-center">
      <div class="d-flex w-100 flex-column flex-md-row justify-content-between align-items-center">
        <h4 class="text-white text-center lh-3 font-weight-light">Secretaria Municipal de Educação de Santana</h4>
        <h4 class="text-white text-center lh-3 font-weight-light">Secretaria Municipal de Educação de Macapá</h4>
        <h4 class="text-white lh-3 font-weight-light text-center text-md-right text-uppercase">SEED Secretaria de educação</h4>
        <img [src]="netImage3"/>
        <img [src]="netImage4"/>
        <img [src]="netImage5"/>
      </div>
      <h6 class="text-white text-center mt-md-0 mt-4 lh-3 font-weight-light">SIGEduc | SEED - AP - (96) 3131-2264 - prodap.esig.com.br.desenv v20191119_1612</h6>
    </div>
</footer>
