.intro{
  align-items: center;
  display: flex;
  justify-content: flex-start;
  min-height: 400px;
  background: linear-gradient(to right, #4e98ff 40%, #009c38a6), url(/assets/sigeduc.png);
  background-position: right;
  color: white;
  min-height: 500px;
}

h1{
  font-weight: 500;
  line-height: 1.2;
  font-size: 54px;
}

.color-bar {

  background: -moz-linear-gradient(left,  #4eb2bc 0%, #4eb2bc 20%, #4eb2bc 20%, #ea3c14 20%, #ea3c14 20%, #ea3c14 40%, #8bc63e 40%, #8bc63e 60%, #8bc63e 60%, #f09225 60%, #f09225 80%, #3871bd 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#4eb2bc), color-stop(20%,#4eb2bc), color-stop(20%,#4eb2bc), color-stop(20%,#ea3c14), color-stop(20%,#ea3c14), color-stop(40%,#ea3c14), color-stop(40%,#8bc63e), color-stop(60%,#8bc63e), color-stop(60%,#8bc63e), color-stop(60%,#f09225), color-stop(80%,#f09225), color-stop(80%,#3871bd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #4eb2bc 0%,#4eb2bc 20%,#4eb2bc 20%,#ea3c14 20%,#ea3c14 20%,#ea3c14 40%,#8bc63e 40%,#8bc63e 60%,#8bc63e 60%,#f09225 60%,#f09225 80%,#3871bd 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #4eb2bc 0%,#4eb2bc 20%,#4eb2bc 20%,#ea3c14 20%,#ea3c14 20%,#ea3c14 40%,#8bc63e 40%,#8bc63e 60%,#8bc63e 60%,#f09225 60%,#f09225 80%,#3871bd 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #4eb2bc 0%,#4eb2bc 20%,#4eb2bc 20%,#ea3c14 20%,#ea3c14 20%,#ea3c14 40%,#8bc63e 40%,#8bc63e 60%,#8bc63e 60%,#f09225 60%,#f09225 80%,#3871bd 80%); /* IE10+ */
	background: linear-gradient(to right,  #4eb2bc 0%,#4eb2bc 20%,#4eb2bc 20%,#ea3c14 20%,#ea3c14 20%,#ea3c14 40%,#8bc63e 40%,#8bc63e 60%,#8bc63e 60%,#f09225 60%,#f09225 80%,#3871bd 80%); /* W3C */
  height: 15px;
  width: 100%;
}
