<div class="py-5 bg-lighten-blue">
    <div class="container">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <h2 class="title">Informar e Validar CPF</h2>

        <div class="card w-100 my-4">
          <div class="card-header">
            <h3 class="m-0">Informe o CPF</h3>
          </div>
          <div class="card-body bg-light d-flex flex-column align-items-start justify-content-between">
            <label for="typeahead-basic">CPF:</label>
            <input id="typeahead-basic" type="text" class="form-control"/>
          </div>

          <div class="card-footer text-center">
            <a class="btn secondary p-2 mr-3" [routerLink]="'/orientacoes'">Voltar</a>
            <a class="btn secondary p-2 mr-3" [routerLink]="'/orientacoes'">Pesquisar</a>
            <a class="btn p-2" [routerLink]="'/estudante'">Avançar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
