<div class="bg-lighten-blue">
  <div class="container">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <h2 class="title">Informar Necessidades Especiais</h2>

      <div class="wrapper">
        <nav class="stepper">
          <ul class="stepper__list">
            <li class="stepper__list__item stepper__list__item--done">
              <i class="la la-check-circle"></i><span class="stepper__list__title">Estudante</span>
            </li>
            <li class="stepper__list__item stepper__list__item--done">
              <i class="la la-check-circle"></i><span class="stepper__list__title">Documentos</span>
            </li>
            <li class="stepper__list__item stepper__list__item--current">
              <i class="la la-dot-circle"></i><span class="stepper__list__title">NEE</span>
            </li>
            <li class="stepper__list__item stepper__list__item--pending">
              <i class="la la-dot-circle"></i><span class="stepper__list__title">Contato</span>
            </li>
            <li class="stepper__list__item stepper__list__item--pending">
              <i class="la la-dot-circle"></i><span class="stepper__list__title">Vaga</span>
            </li>
            <li class="stepper__list__item stepper__list__item--pending">
              <i class="la la-dot-circle"></i><span class="stepper__list__title">Comprovante</span>
            </li>
          </ul>
        </nav>
      </div>

      <div class="card w-100 my-4">
        <div class="card-header">
          <h3 class="m-0">Necessidades Especiais</h3>
        </div>

        <div class="card-body bg-light d-flex flex-column justify-content-between">
          <div class="row">
            <div class="col-lg-4 ml-4">
              <div class="">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                  <label class="ml-2" for="typeahead-basic">Altas habilidades/superdotação</label>
              </div>
              <div class="">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                  <label class="ml-2" for="typeahead-basic">Altas habilidades/superdotação</label>
              </div>
              <div class="">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                  <label class="ml-2" for="typeahead-basic">Altas habilidades/superdotação</label>
              </div>
              <div class="">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                  <label class="ml-2" for="typeahead-basic">Altas habilidades/superdotação</label>
              </div>
              <div class="">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                  <label class="ml-2" for="typeahead-basic">Altas habilidades/superdotação</label>
              </div>
              <div class="">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                  <label class="ml-2" for="typeahead-basic">Altas habilidades/superdotação</label>
              </div>
              <div class="">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                  <label class="ml-2" for="typeahead-basic">Altas habilidades/superdotação</label>
              </div>
              <div class="">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                  <label class="ml-2" for="typeahead-basic">Altas habilidades/superdotação</label>
              </div>
              <div class="">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                  <label class="ml-2" for="typeahead-basic">Altas habilidades/superdotação</label>
              </div>
              <div class="">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                  <label class="ml-2" for="typeahead-basic">Altas habilidades/superdotação</label>
              </div>
              <div class="">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                  <label class="ml-2" for="typeahead-basic">Altas habilidades/superdotação</label>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                  <label class="ml-2" for="typeahead-basic">Altas habilidades/superdotação</label>
              </div>
              <div class="">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                  <label class="ml-2" for="typeahead-basic">Altas habilidades/superdotação</label>
              </div>
              <div class="">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                  <label class="ml-2" for="typeahead-basic">Altas habilidades/superdotação</label>
              </div>
              <div class="">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                  <label class="ml-2" for="typeahead-basic">Altas habilidades/superdotação</label>
              </div>
              <div class="">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                  <label class="ml-2" for="typeahead-basic">Altas habilidades/superdotação</label>
              </div>
              <div class="">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                  <label class="ml-2" for="typeahead-basic">Altas habilidades/superdotação</label>
              </div>
              <div class="">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                  <label class="ml-2" for="typeahead-basic">Altas habilidades/superdotação</label>
              </div>
            </div>
          </div>

          </div>


        <div class="card-footer text-center">
          <a class="btn secondary p-2 mr-3" [routerLink]="'/docs'">Voltar</a>
          <a class="btn p-2" [routerLink]="'/contato'">Avançar</a>
        </div>

      </div>
      </div>
    </div>
  </div>
