<nav id="navbar" class="navbar navbar-expand-lg customNav" (scroll)="onWindowScroll();">
  <div class="container"> 
  <a class="navbar-brand" [routerLink]="'/home'">
    <img class="" [src]="Logo"/>
  </a>  
  <button class="navbar-toggler d-lg-none d-block" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item d-flex flex-lg-row flex-column align-items-center dropdown" ngbDropdown>
        <a class="nav-link text-uppercase" [routerLink]='"."' fragment="inscricoes">Inscrições</a>
        <a class="nav-link text-uppercase" [routerLink]='"."' fragment="calendario">Calendário</a>
        <a class="nav-link text-uppercase" [routerLink]='"."' fragment="faq">Faq</a>
        <a class="nav-link text-uppercase" [routerLink]="'/enviarMsg'">Fale conosco</a>
        <a class="nav-link text-uppercase" [routerLink]="['/home']">Sigeduc</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
