<div class="py-5 bg-lighten-blue">
    <div class="container">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <h2 class="title">Dados Pessoais</h2>

        <div class="card w-100 my-4">
          <div class="card-header">
            <h3 class="m-0">Dados Pessoais do Estudante</h3>
          </div>

          <div class="card-body bg-light d-flex flex-column align-items-start justify-content-between">
            <div class="row">
              <div class="col-lg-3">
                <div class="form-group">
                    <label class="obrigatorio" for="typeahead-basic">CPF:</label>
                    <input id="typeahead-basic" type="text" class="form-control"/>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="form-group">
                    <label class="obrigatorio" for="typeahead-basic">Nome Completo:</label>
                    <input id="typeahead-basic" type="text" class="form-control"/>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label class="obrigatorio" for="exampleFormControlSelect1">Sexo:</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option></option>
                    <option>Masculino</option>
                    <option>Feminino</option>
                  </select>
                </div>
              </div>

              <div class="col-12">
                <div class="alert alert-warning" role="alert">
                  Nome social: designação pela qual a pessoa travesti ou transexual se identifica e é socialmente reconhecida; Conforme o Decreto Nº 8.727, de 28 de Abril de 2016.
                </div>
              </div>


              <div class="col-lg-6">
                <div class="form-group">
                    <label for="typeahead-basic">Nome Social:</label>
                    <input id="typeahead-basic" type="text" class="form-control"/>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="form-group">
                    <label class="obrigatorio" for="typeahead-basic">Data de Nascimento:</label>
                    <input id="typeahead-basic" type="text" class="form-control"/>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="form-group">
                    <label class="obrigatorio" for="typeahead-basic">Nacionalidade:</label>
                    <input id="typeahead-basic" type="text" class="form-control"/>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="form-group">
                    <label class="obrigatorio" for="typeahead-basic">Naturalidade/UF:</label>
                    <input id="typeahead-basic" type="text" class="form-control"/>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="form-group">
                    <label class="obrigatorio" for="typeahead-basic">Naturalidade Município:</label>
                    <input id="typeahead-basic" type="text" class="form-control"/>
                </div>
              </div>


              <div class="col-lg-3">
                <div class="form-group">
                    <label for="typeahead-basic">RG:</label>
                    <input id="typeahead-basic" type="text" class="form-control"/>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="form-group">
                    <label for="typeahead-basic">Orgão Emissor:</label>
                    <input id="typeahead-basic" type="text" class="form-control"/>
                </div>
              </div>

              <div class="col-lg-1">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">UF:</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option></option>
                    <option>Masculino</option>
                    <option>Feminino</option>
                  </select>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="form-group">
                    <label for="typeahead-basic">Data de Expedição:</label>
                    <input id="typeahead-basic" type="text" class="form-control"/>
                </div>
              </div>

              <div class="col-lg-2">
                <div class="form-group">
                  <label class="obrigatorio" for="exampleFormControlSelect1">Estado Civil:</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option></option>
                    <option>Masculino</option>
                    <option>Feminino</option>
                  </select>
                </div>
              </div>

              <div class="col-lg-4">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Como Você se Considera:</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option></option>
                    <option>Masculino</option>
                    <option>Feminino</option>
                  </select>
                </div>
              </div>

              <div class="col-lg-2">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Tipo Sanguíneo:</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option></option>
                    <option>Masculino</option>
                    <option>Feminino</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer text-center">
            <a class="btn secondary p-2 mr-3" [routerLink]="'/cpf'">Voltar</a>
            <a class="btn p-2" [routerLink]="'/estudante'">Avançar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
