.icon{
  position: relative;
  z-index: 1;
  display: block;
  width: 136px;
  height: 136px;
  margin-bottom: 8px;
  overflow: hidden;
  padding-top: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .1);
  border-radius: 100px;
  background-color: #fff;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;

  &:hover{
    background-color: #f5f5f5;
  }
}

.doc-title{
  display: block;
  color: #2d2e2f;
  font-size: 32px;
  font-weight: 600;
}

p{
  font-size: 18px;
  font-weight: 300;
  margin:0;
}
