<section class="my-5">
    <div class="container">
      <div class="d-flex flex-column align-items-center justify-content-center">
      <h2 class="title">Documentos para a inscrição online</h2>
      <div class="d-flex flex-row justify-content-around">
        <div class="d-flex flex-column align-items-center m-4">
            <div class="icon">
                <img class="mb-2" [src]="netImage"/>
            </div>
            <h3 class="doc-title">Estudante</h3>
          <p>Certidão, CPF e Carteira do SUS</p>
        </div>

        <div class="d-flex flex-column align-items-center m-4">
          <div class="icon">
              <img class="mb-2" [src]="netImage2"/>
          </div>
          <h3 class="doc-title">Responsável</h3>
          <p>RG, CPF e Comprovante de residência</p>
        </div>
      </div>
    </div>
    </div>
  </section>
