<div class="bg-lighten-blue">
    <div class="container">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <h2 class="title">Endereço/Contato</h2>

        <div class="wrapper">
          <nav class="stepper">
            <ul class="stepper__list">
              <li class="stepper__list__item stepper__list__item--done">
                <i class="la la-check-circle"></i><span class="stepper__list__title">Estudante</span>
              </li>
              <li class="stepper__list__item stepper__list__item--done">
                <i class="la la-check-circle"></i><span class="stepper__list__title">Documentos</span>
              </li>
              <li class="stepper__list__item stepper__list__item--done">
                <i class="la la-check-circle"></i><span class="stepper__list__title">NEE</span>
              </li>
              <li class="stepper__list__item stepper__list__item--current">
                <i class="la la-dot-circle"></i><span class="stepper__list__title">Contato</span>
              </li>
              <li class="stepper__list__item stepper__list__item--pending">
                <i class="la la-dot-circle"></i><span class="stepper__list__title">Vaga</span>
              </li>
              <li class="stepper__list__item stepper__list__item--pending">
                <i class="la la-dot-circle"></i><span class="stepper__list__title">Comprovante</span>
              </li>
            </ul>
          </nav>
        </div>

        <div class="card w-100 my-4">
          <div class="card-header">
            <h3 class="m-0">Endereço/Contato</h3>
          </div>

          <div class="card-body bg-light d-flex flex-column align-items-start justify-content-between">
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="obrigatorio" for="exampleFormControlSelect1">Estado:</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>--SELECIONE--</option>
                      <option>ASDASDASD</option>
                      <option>ADASDBFS</option>
                    </select>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="obrigatorio" for="exampleFormControlSelect1">Município:</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>--SELECIONE--</option>
                      <option>ASDASDASD</option>
                      <option>ADASDBFS</option>
                    </select>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="obrigatorio" for="exampleFormControlSelect1">Bairro/Distrito:</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>--SELECIONE--</option>
                      <option>ASDASDASD</option>
                      <option>ADASDBFS</option>
                    </select>
                </div>
              </div>

              <div class="col-lg-4">
                <div class="form-group">
                    <label for="typeahead-basic">CEP:</label>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="Digite o CEP">
                      <div class="input-group-append">
                        <button class="btn" type="button" id="button-addon2">Buscar CEP</button>
                      </div>
                    </div>
                </div>
              </div>

              <div class="col-lg-7">
                <div class="form-group">
                    <label class="obrigatorio" for="typeahead-basic">Endereço:</label>
                    <input id="typeahead-basic" type="text" class="form-control"/>
                </div>
              </div>

              <div class="col-lg-1">
                <div class="form-group">
                    <label class="obrigatorio" for="typeahead-basic">Nº:</label>
                    <input id="typeahead-basic" type="text" class="form-control"/>
                </div>
              </div>

              <div class="col-lg-4">
                <div class="form-group">
                    <label class="obrigatorio" for="typeahead-basic">Telefone:</label>
                    <input id="typeahead-basic" type="text" class="form-control"/>
                </div>
              </div>

              <div class="col-lg-4">
                <div class="form-group">
                    <label class="obrigatorio" for="typeahead-basic">E-mail:</label>
                    <input id="typeahead-basic" type="text" class="form-control"/>
                </div>
              </div>


              <div class="col-lg-4">
                <div class="form-group">
                    <label class="obrigatorio" for="typeahead-basic">Confirmação E-mail:</label>
                    <input id="typeahead-basic" type="text" class="form-control"/>
                </div>
              </div>

            </div>
          </div>

          <div class="card-footer text-center">
            <a class="btn secondary p-2 mr-3" [routerLink]="'/nee'">Voltar</a>
            <a class="btn p-2" [routerLink]="'/vaga'">Avançar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
