<div class="bg-lighten-blue">
    <div class="container">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <h2 class="title">Pré-matrícula</h2>

        <div class="card w-100 my-4">
          <div class="card-header">
            <h3 class="m-0">Consultar Pré-matrícula</h3>
          </div>
          <div class="card-body bg-light d-flex flex-column align-items-start justify-content-between">
            <div class="row w-100">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="obrigatorio" for="typeahead-basic">Número de Inscrição na Pré-Matrícula:</label>
                  <input id="typeahead-basic" type="text" class="form-control"/>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="obrigatorio" for="typeahead-basic">CPF:</label>
                  <input id="typeahead-basic" type="text" class="form-control"/>
                </div>
              </div>
              <div class="col-lg-12">
                <a class="btn-link" [routerLink]="'/recuperarPre'">Esqueci o número de inscrição na pré-matrícula</a>
            </div>
            </div>
          </div>

          <div class="card-footer text-center">
            <a class="btn p-2" [routerLink]="'/pesquisa'">Pesquisar</a></div>
        </div>
      </div>
    </div>
  </div>
