section{
  position: relative;
  @media (min-width: 992px) {
    background-image: url('/assets/pixel.png');
    box-shadow: inset 100px 0px 100px 50px #ffffff, inset -100px 0px 100px 50px #ffffff;
  }
  background-size: contain;

  // &::after{
  //   //position: absolute;
  //   top:0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   content: '';
  //   display: block;
  //   background-image: linear-gradient(to right, white 1%, transparent 25%);
  // }

  // &::before {
  //   //position: absolute;
  //   top:0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   content: '';
  //   display: block;
  //   background-image: linear-gradient(to left, white 1%, transparent 25%);
  // }
}

a.card-footer {
  color: white;
}

h2{
  font-size: 28px;
  font-weight: 300;
}

p{
  color: #6e6e6e;
    font-size: 16px;
}

.card{
  overflow: hidden;
  @media (min-width: 992px) {
    min-height: 378px;
  }
  border-radius: 15px;
  border: 0;
  box-shadow: 0 5px 30px -10px rgba(0, 0, 0, .35);
  margin-top: -30px;
  margin-bottom: 30px;

  .card-body{
    text-align: center;
    color: black;
  }
}

.indicators-addpre{
  background: linear-gradient(45deg,#8bc63e,#6baf29)!important;
}

a.indicators-addpre:hover{
  color: #1c653b;
  text-decoration: none;
}

.indicators-addpos{
  background: linear-gradient(45deg,#65c8d1,#4eb2bc)!important;
}

a.indicators-addpos:hover{
  color: #1d588e;
  text-decoration: none;
}

.indicators-ban{
  background: linear-gradient(45deg,#ed5620,#ea3c14)!important;
}

a.indicators-ban:hover{
  color: #bf2f3f;
  text-decoration: none;
}

.indicators-search{
  background: linear-gradient(45deg,#f2b03b,#f09225)!important;
}

a.indicators-search:hover{
  color: #a76813;
  text-decoration: none;
}
