a.card-footer {
  color: white;
}

.card{
  overflow: hidden;
  margin-bottom: 25px;
  @media (min-width: 992px) {
    min-height: 230px;
  }
}

.indicators::before {
  font-family: 'Line Awesome Free';
  font-weight: 900;
  content: " ";
  position: absolute;
  font-size: 8rem;
  color: #fff;
  top: -18%;
  right: -14px;
  opacity: 0.3;
}

.indicators.indicators-addpre{
  background: linear-gradient(45deg,#50d489,#368859)!important;
  &::before {
    content: "\f234";
  }


  a:hover{
    color: #1c653b;
    text-decoration: none;
  }
}

.indicators.indicators-addpos{
  background: linear-gradient(45deg,#82b9ef,#3f84c6)!important;
  &::before {
    content: "\f234";
  }

  a:hover{
    color: #1d588e;
    text-decoration: none;
  }
}

.indicators.indicators-ban{
  background: linear-gradient(45deg,#fdabb4,#ed5565)!important;
  &::before {
    content: "\f05e";
  }

  a:hover{
    color: #bf2f3f;
    text-decoration: none;
  }
}
.indicators.indicators-search{
  background: linear-gradient(45deg,#ecce93,#dc8b18)!important;
  &::before {
    content: "\f002";
  }

  a:hover{
    color: #a76813;
    text-decoration: none;
  }
}

