<section class="my-5">
  <div class="container">
    <div class="row w-100">
      <div class="col-sm-6 col-lg-3 col-12">
        <div class="card text-white">
          <div class="card-header indicators-addpre"></div>
          <div class="card-body">
            <h2>FAÇA SUA PRÉ-MATRÍCULA</h2>
            <p>Somente quem fez a Chamada Escolar</p>
            <p>Período: 11/11/2019 a 25/11/2019</p>
          </div>
          <a [routerLink]="'/orientacoes'" class="card-footer indicators-addpre d-flex flex-row justify-content-center align-items-center">
            Clique aqui
            <i class="ml-2 la la-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 col-12">
        <div class="card text-white">
          <div class="card-header indicators-addpos"></div>
          <div class="card-body">
            <h2>FAÇA SUA PRÉ-MATRÍCULA</h2>
            <p>Para os que não realizaram a Chamada Escolar</p>
            <p>Período: 26/11/2019 a 06/12/2019</p>
          </div>
          <a [routerLink]="'/orientacoes'" class="indicators-addpos card-footer d-flex flex-row justify-content-center align-items-center">
            Clique aqui
            <i class="ml-2 la la-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 col-12">
        <div class="card text-white">
          <div class="card-header indicators-search"></div>
          <div class="card-body">
            <h2>CONSULTAR PRÉ-MATRÍCULA </h2>
            <p>Consulte aqui a pré-matrícula</p>
          </div>
          <a [routerLink]="'/consultarPre'" class="card-footer indicators-search d-flex flex-row justify-content-center align-items-center">
            Clique aqui
            <i class="ml-2 la la-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 col-12">
        <div class="card text-white">
          <div class="card-header indicators-ban"></div>
          <div class="card-body">
            <h2>CANCELAR PRÉ-MATRÍCULA </h2>
            <p>Cancele aqui sua pré-matrícula</p>
          </div>
          <a [routerLink]="'/consultarPre'" class="card-footer indicators-ban d-flex flex-row justify-content-center align-items-center">
            Clique aqui
            <i class="ml-2 la la-arrow-circle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
