<section>
  <div class="container">
    <div class="d-flex flex-column flex-md-row justify-content-around py-4 custom">
      <div class="card">
        <div class="card-body">
          <h2 class="title-card">Pra quem fez a chamada escolar</h2>
          <div class="linha"></div>
          <ul>
            <li>
              <span style="color:#4d97ff; font-weight: bold">07, 08, 09 de janeiro</span> - Pré-matrícula online do ensino médio, EJA (1ª e 2ª etapas)
            </li>
            <li>
              <span style="color:#4d97ff; font-weight: bold">08, 09, 10 de janeiro</span> - Entrega de documentos e confirmação da matricula na escola pretendida
            </li>
            <li>
              <span style="color:#4d97ff; font-weight: bold">16, 17, 18 de janeiro</span> - Pré-matrícula da educação infantil, Ensino Fundamental (1ª ao 9ª ano), EJA (1ª, 2ª, 3ª e 4ª etapas)
            </li>
            <li>
              <span style="color:#4d97ff; font-weight: bold">21, 22, 23 de janeiro</span> - Entrega de documentos e confirmação da matricula na escola pretendida
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h2 class="title-card">Pra quem não fez a chamada escolar</h2>
          <div class="linha"></div>
          <ul>
            <li>
              <span style="color:#4d97ff; font-weight: bold">07, 08, 09 de janeiro</span> - Pré-matrícula online do ensino médio, EJA (1ª e 2ª etapas)
            </li>
            <li>
              <span style="color:#4d97ff; font-weight: bold">08, 09, 10 de janeiro</span> - Entrega de documentos e confirmação da matricula na escola pretendida
            </li>
            <li>
              <span style="color:#4d97ff; font-weight: bold">16, 17, 18 de janeiro</span> - Pré-matrícula da educação infantil, Ensino Fundamental (1ª ao 9ª ano), EJA (1ª, 2ª, 3ª e 4ª etapas)
            </li>
            <li>
              <span style="color:#4d97ff; font-weight: bold">21, 22, 23 de janeiro</span> - Entrega de documentos e confirmação da matricula na escola pretendida
            </li>
          </ul>
        </div>
      </div>
      <div class="divisor">
        <span>OU</span>
      </div>
    </div>
  </div>
  <div class="linha"></div>
</section>
