<section>
  <div class="py-4 container">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <h2 class="title text-center"><b>Calendário</b> de matrícula</h2>

          <div class="row mt-5">
            <div class="col">
              <div class="main-timeline">
                <div class="timeline">
                  <a  class="timeline-content">
                    <span class="timeline-year">07/01 a 09/01</span>
                    <div class="timeline-icon">
                      <i class="la la-calendar-check"></i>
                    </div>
                    <div class="content">
                      <h3 class="custom-title">Pré-matrícula para os que realizaram a chamada escolar 2018</h3>
                      <p class="description">
                        Pré-matrícula (Ensino Médio, EJA Médio 1ª e 2ª Etapa)
                      </p>
                    </div>
                  </a>
                </div>
                <div class="timeline">
                  <a class="timeline-content">
                    <span class="timeline-year">08/01 a 10/01</span>
                    <div class="timeline-icon">
                      <i class="la la-pen"></i>
                    </div>
                    <div class="content">
                      <h3 class="custom-title">Matrícula na unidade escolar pretendida</h3>
                      <p class="description">
                        Ensino Médio, EJA Médio 1ª e 2ª Etapa
                      </p>
                    </div>
                  </a>
                </div>
                <div class="timeline">
                  <a  class="timeline-content">
                    <span class="timeline-year">16/01 a 18/01</span>
                    <div class="timeline-icon">
                      <i class="la la-ruler"></i>
                    </div>
                    <div class="content">
                      <h3 class="custom-title">Pré-matrícula para os que realizaram a chamada escolar 2018</h3>
                      <p class="description">
                        Educação infantil, Ensino Fundamental 1º ao 9º ano, EJA 1ªe 2ª, 3ª e 4ª Etapa
                      </p>
                    </div>
                  </a>
                </div>
                <div class="timeline">
                  <a  class="timeline-content">
                    <span class="timeline-year">21/01 a 23/01</span>
                    <div class="timeline-icon">
                      <i class="la la-book"></i>
                    </div>
                    <div class="content">
                      <h3 class="custom-title">Matrícula na unidade escolar pretendida</h3>
                      <p class="description">
                        Educação infantil, Ensino Fundamental 1º ao 9º ano, EJA 1ªe 2ª, 3ª e 4ª Etapa
                      </p>
                    </div>
                  </a>
                </div>
                <div class="timeline">
                  <a  class="timeline-content">
                    <span class="timeline-year">28/01 a 30/01</span>
                    <div class="timeline-icon">
                      <i class="la la-laptop"></i>
                    </div>
                    <div class="content">
                      <h3 class="custom-title">Pré-matrícula para os que não realizaram a chamada escolar 2018, não realizaram pré-matrícula ou não efetivaram a matrícula</h3>
                      <p class="description">
                        Pré-matrícula (Ensino Médio, EJA Médio 1ª e 2ª Etapa)
                      </p>
                    </div>
                  </a>
                </div>
                <div class="timeline">
                  <a  class="timeline-content">
                    <span class="timeline-year">29/01 a 31/01</span>
                    <div class="timeline-icon">
                      <i class="la la-glasses"></i>
                    </div>
                    <div class="content">
                      <h3 class="custom-title">Matrícula na unidade escolar pretendida</h3>
                      <p class="description">
                        Ensino Médio, EJA Médio 1ª e 2ª Etapa
                      </p>
                    </div>
                  </a>
                </div>
                <div class="timeline">
                  <a  class="timeline-content">
                    <span class="timeline-year">05/02 a 07/02</span>
                    <div class="timeline-icon">
                      <i class="la la-calculator"></i>
                    </div>
                    <div class="content">
                      <h3 class="custom-title">Pré-matrícula para os que não realizaram a chamada escolar 2018, não realizaram pré-matrícula ou não efetivaram a matrícula</h3>
                      <p class="description">
                        Educação infantil, Ensino Fundamental 1º ao 9º ano, EJA 1ªe 2ª, 3ª e 4ª Etapa</p>
                    </div>
                  </a>
                </div>
                <div class="timeline">
                  <a  class="timeline-content">
                    <span class="timeline-year">05/02 a 08/02</span>
                    <div class="timeline-icon">
                      <i class="la la-school"></i>
                    </div>
                    <div class="content">
                      <h3 class="custom-title">Matrícula na unidade escolar pretendida</h3>
                      <p class="description">
                        Educação infantil, Ensino Fundamental 1º ao 9º ano, EJA 1ªe 2ª, 3ª e 4ª Etapa</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
