/* You can add global styles to this file, and also import other style files */
$primary-color: #284e95;

app-root{
  min-height: 100%;
  display: block;
  position: relative;
}

html, body {
  height: 100%;
  min-height: 100%;
  font-family: 'Metropolis', 'Open Sans', sans-serif;
  color: #2d2e2f;
}


// body {
//   font-family: tahoma;
//   padding: 40px 0;
// }


.title{
  margin: 20px 0;

}

p {
  margin-top: 1rem;
}

.btn {
	padding: 5px 15px;
	text-decoration: none;
	background: transparent;
	border: 2px solid lighten($primary-color, 10%);
	color: lighten($primary-color, 10%);
	display: inline-block;
	position: relative;
	text-transform: uppercase;
	font-size: 12px;
	border-radius: 5px;
	transition: .3s ease;
	box-shadow: 2px 2px 0 lighten($primary-color, 10%);

  &:hover {
		box-shadow: none ;
		top: 2px;
		left: 2px;
		box-shadow: 2px 2px 0 transparent;
  }

  &.secondary{
    border: 2px solid lighten(#6c757d, 10%);
    color: lighten(#6c757d, 10%);
    box-shadow: 2px 2px 0 lighten(#6c757d, 10%);

    &:hover {
      box-shadow: none ;
      top: 2px;
      left: 2px;
      box-shadow: 2px 2px 0 transparent;
    }
  }

  &.danger{
    border: 2px solid #dc3545;
    color: #dc3545;
    box-shadow: 2px 2px 0 #dc3545;

    &:hover {
      box-shadow: none ;
      top: 2px;
      left: 2px;
      box-shadow: 2px 2px 0 transparent;
    }
  }



  &.success{
    border: 2px solid #1f5724;
    color: #1f5724;
    box-shadow: 2px 2px 0 #1f5724;

    &:hover {
      box-shadow: none ;
      top: 2px;
      left: 2px;
      box-shadow: 2px 2px 0 transparent;
    }
  }

  &.print{
    border: 2px solid #f2ac59;
    color: #f2ac59;
    box-shadow: 2px 2px 0 #f2ac59;

    &:hover {
      box-shadow: none ;
      top: 2px;
      left: 2px;
      box-shadow: 2px 2px 0 transparent;
    }
  }
}

label.obrigatorio::after {
  content: " *";
  color: #dc3545;
}

