<div class="bg-lighten-blue">
  <div class="container">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <h2 class="title">Fale conosco</h2>

      <div class="card w-100 my-4">

        <div class="card-body bg-light d-flex flex-column align-items-start justify-content-between">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                  <label class="obrigatorio" for="typeahead-basic">Nome:</label>
                  <input id="typeahead-basic" type="text" class="form-control"/>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                  <label class="obrigatorio" for="typeahead-basic">E-mail:</label>
                  <input id="typeahead-basic" type="text" class="form-control"/>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                  <label class="" for="typeahead-basic">Código de Área:</label>
                  <input id="typeahead-basic" type="text" class="form-control"/>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                  <label class="" for="typeahead-basic">Telefone:</label>
                  <input id="typeahead-basic" type="text" class="form-control"/>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class="obrigatorio" for="exampleFormControlSelect1">Categoria do Assunto:</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option></option>
                  <option>Masculino</option>
                  <option>Feminino</option>
                  <option>Feminino</option>
                  <option>Feminino</option>
                  <option>Feminino</option>
                  <option>Feminino</option>
                  <option>Feminino</option>
                </select>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class="obrigatorio" for="exampleFormControlSelect1">Assunto:</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option></option>
                  <option>Masculino</option>
                  <option>Feminino</option>
                  <option>Feminino</option>
                  <option>Feminino</option>
                  <option>Feminino</option>
                  <option>Feminino</option>
                  <option>Feminino</option>
                </select>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class="obrigatorio" for="exampleFormControlSelect1">Tipo da Manifestação:</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option></option>
                  <option>Masculino</option>
                  <option>Feminino</option>
                  <option>Feminino</option>
                  <option>Feminino</option>
                  <option>Feminino</option>
                  <option>Feminino</option>
                  <option>Feminino</option>
                </select>
              </div>
            </div>
            <div class="col-lg-9">
              <div class="form-group">
                  <label class="obrigatorio" for="typeahead-basic">Título:</label>
                  <input id="typeahead-basic" type="text" class="form-control"/>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                  <label class="obrigatorio" for="typeahead-basic">Mensagem:</label>
                  <input id="typeahead-basic" type="text" class="form-control"/>
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer text-center">
          <a class="btn p-2 mr-3" [routerLink]="'/enviarMsg'">Enviar</a>
          <a class="btn secondary p-2" [routerLink]="'/home'">Cancelar</a>
        </div>
      </div>
    </div>
  </div>
</div>
